@model BookStore.Models.hoa_don

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/MytemplateAD.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>hoa_don</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ma_hoa_don, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_hoa_don)
                @Html.ValidationMessageFor(model => model.ma_hoa_don)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_khach_hang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_khach_hang)
                @Html.ValidationMessageFor(model => model.ma_khach_hang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngay_dat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_dat)
                @Html.ValidationMessageFor(model => model.ngay_dat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tong_tien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tong_tien)
                @Html.ValidationMessageFor(model => model.tong_tien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghi_chu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghi_chu)
                @Html.ValidationMessageFor(model => model.ghi_chu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tinh_trang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tinh_trang)
                @Html.ValidationMessageFor(model => model.tinh_trang)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
