@model BookStore.Models.loai_san_pham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/MytemplateAD.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>loai_san_pham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_loai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mo_ta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mo_ta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
